/* ************************************************************************** */
/* Resets ******************************************************************* */
/* ************************************************************************** */

* {
  box-sizing: border-box;
  margin: 0 auto;
}

/* ************************************************************************** */
/* Page-Level Typography ******************************************************************* */
/* ************************************************************************** */

a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}
.navbar-brand{
  font-family: 'Redressed', cursive;
}

/* ************************************************************************** */
/* General Page Structure *************************************************** */
/* ************************************************************************** */

#home-slide{
  margin-top: 60px;
  height: 810px;
  background-image: url('../image/blackwhite/reflection.JPG');
  background-repeat: no-repeat;
  background-size: 1450px 810px;
  /*background-attachment: fixed;*/
  background-position: center;
}
#blog-slide{
  margin-top: 60px;
  height: 810px;
  background-image: url('../image/blackwhite/reflection.JPG');
  background-size: 1450px 810px;
  background-repeat: no-repeat;
  background-position: center;
}
#contact-slide{
  margin-top: 60px;
  height: 810px;
  background-image: url('../image/site/Pinja.jpg');
  background-size: 1450px 810px;
  background-repeat: no-repeat;
  background-position: center;
}

/* ************************************************************************** */
/* Navigation Bar  *************************************************** */
/* ************************************************************************** */

/*nav.tabstyle a.active {
  background: rgba(255,255,255,1);
}*/

/* ************************************************************************** */
/* Portfolio Grid Styling *************************************************** */
/* ************************************************************************** */
.portContainer{
  text-align: center;
}
.photo-box{
  display: inline-block;
  margin: 5px;
}
.grid-photo{
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}
/* ******************* Form Styling ******************* */
.form-container{
text-align: center;
margin-left: 400px;
background-color: #C9C9C9;
}
