/* ************************************************************************** */
/* Resets ******************************************************************* */
/* ************************************************************************** */

* {
  box-sizing: border-box;
  margin: 0 auto;
}

/* ************************************************************************** */
/* Page-Level Typography ******************************************************************* */
/* ************************************************************************** */

a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}
.navbar-brand{
  font-family: 'Redressed', cursive;
}

/* ************************************************************************** */
/* General Page Structure *************************************************** */
/* ************************************************************************** */

html, body {
  height: 100%;
}
.main-container {
  background-size: 1450px 810px;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vw;
}
.portfolio_container{
  width: 100vw;
  height: 100vw;
}
/* background images for site */
#home-slide{
  background-image: url('../image/blackwhite/home.jpg');
}
#blog-slide{
  background-image: url('../image/blackwhite/reflection.JPG');
}
#contact-slide{
  background-image: url('../image/site/Pinja.jpg');
}

/* ************************************************************************** */
/* Navigation Bar Styling *************************************************** */
/* ************************************************************************** */

nav.tabstyle a.active {
  background: rgba(255,255,255,1);
}

/* ************************************************************************** */
/* Portfolio Grid Styling *************************************************** */
/* ************************************************************************** */

.grid-img {
      height: auto;
      width: auto;
      max-width: 300px;
      max-height: 300px;
      padding: 2px 2px 2px 2px;
      display: inline;
  }
}
