<div class="row contact-container">
  <div id="contact-slide">
    <img class="pinjaContact" src="../image/site/Pinja.jpg" />
    <form class="formContact">
      <h2>Contact</h2>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 form-control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
      <div class="form-group row">
        <label for="exampleTextarea">Inquiry</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
      </div
      <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-secondary">Send Message</button>
        </div>
      </div>
    </form>
  </div>
</div>
