<div class="row portContainer">
  <br><br><br>

<!--********************************************************************************************************
 *********************************** Checkboxes for Filter **********************************
 *********************************************************************************************************** -->
 <input type="checkbox" ng-click="includeArt('event')" checked="true"/> Event
  <input type="checkbox" ng-click="includeArt('portrait')" checked="true"/> Portrait
  <input type="checkbox" ng-click="includeArt('travel')" checked="true" /> Travel


  <!--  photo content to be displayed-->
  <!-- <div class="photo-box" ng-repeat="photo in photos ">
    <img class="grid-photo" src="{{photo.image}}"/>
  </div> -->

  <!--********************************************************************************************************
   *********************************** Artist Portfolio, Filters to Show User Prefs **************************
   *********************************************************************************************************** -->

  <div class="row"  >
  <div class="col-xs-6 col-md-3" ng-repeat="photo in photos | filter:photoFilter">
    <a href="#" class="thumbnail" >
      <img class="" src="{{photo.image}}"/>
    </a>
  </div>
</div>

<!--********************************************************************************************************
 *********************************** Form to Upload Photos *************************************************
 *********************************************************************************************************** -->
<div class="row col-xs-6 col-md-3">
<h4>Upload to Porfolio</h4>
   <form>
   <!--*************************************** Upload Photo *************************************** -->
   <fieldset class="form-group">
     <label class="file">
       <input type="file" id="file">
       <span class="file-custom"></span>
     </label>
   </fieldset>
   <!-- *************************************** Category Select ***************************************-->
   <fieldset class="form-group">
     <label for="exampleSelect1">Category Select</label>
     <select class="form-control" id="exampleSelect1">
       <option>Event</option>
       <option>Portrait</option>
       <option>Travel</option>
     </select>
   </fieldset>
 </form>
 </div>
   <!-- *************************************** End of Form ***************************************-->

</div>
