<div class="row portContainer">
  <br><br><br>

  <!--********************************************************************************************************
  *********************************** Checkboxes for Filter **********************************
  *********************************************************************************************************** -->

  <input type="checkbox" ng-click="includeArt('event')" checked="true"/> Event
  <input type="checkbox" ng-click="includeArt('portrait')" checked="true"/> Portrait
  <input type="checkbox" ng-click="includeArt('travel')" checked="true" /> Travel

  <!--********************************************************************************************************
  *********************************** Artist Portfolio, Filters to Show User Prefs **************************
  *********************************************************************************************************** -->

  <div class="row" >
    <div class="col-xs-6 col-md-3" ng-repeat="photo in photos | filter:photoFilter">
      <a href="#" class="thumbnail" >
        <img class="grid-photo" src="{{photo.image}}"/>
      </a>
    </div>
  </div>

  <!--********************************************************************************************************
  *********************************** Form to Upload Photos *************************************************
  *********************************************************************************************************** -->

  <div class="row col-xs-12 col-sm-6 col-md-3 form-container">
    <h4>Upload to Porfolio</h4>
    <form ng-submit="addPhoto()">

      <!--*************************************** Upload Photo *************************************** -->

      <fieldset class="form-group">
        <label class="file">
          <input ng-model="tempPhoto.image" type="text" id="file">
          <span class="file-custom"></span>
        </label>
      </fieldset>

      <!-- *************************************** Category Select ***************************************-->

      <fieldset class="form-group">
        <label for="exampleSelect1">Category Select</label>
        <select ng-model="tempPhoto.category" name="category" class="form-control" id="categorySelect">
          <option value="event">Event</option>
          <option value="portrait">Portrait</option>
          <option value="travel">Travel</option>
        </select>
      </fieldset>

      <!-- *************************************** Submit ***************************************-->

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <!-- *************************************** End of Form ***************************************-->
<br><br><br>

</div>
